@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    box-sizing: border-box;
}

body {
    background-color: black;
}

div{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

nav  {
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a{
     padding: 10px;
    text-decoration: none;
    color: white;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: transparent;
   
}

.link1{
     border-bottom: 5px solid white;
}

.link{
   
    border-bottom: 5px solid transparent;
    background-color: transparent;
}
.link:hover {
    border-bottom: 5px solid white;
}

.link:hover {
    border-bottom: 5px solid white;
}

h3{
    color: white;
    font-weight: bold;
    font-size: 25px;
}


main{
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    width: 640px;
}

main h2{
     color: white;
     font-size: 40px;
     width: 608px;


}


main p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}