@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #212529!important;
}

div{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 228.5px;
}

nav ul li{
    display: inline;
    margin: 0px 10px;
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a{
     padding: 4px 0px;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    color:#fff;
    text-decoration: none;
    transition: border-color .3s, border-bottom .3s, color .3s;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav ul li a.home{
    border-bottom: 3px solid #fff;
}

nav ul li a.features, nav ul li a.contact{
    color: hsl(0, 0%, 70%);
}

nav h3{
    color: white;
    font-weight: bold;
    font-size: 27px;
    font-family: 'Roboto';
    margin: 0px;
}

nav ul li a.home:hover{
    border-color: hsl(0, 0%, 70%);
}

nav ul li a.features:hover, nav ul li a.contact:hover{
    border-bottom: 3px solid hsl(0, 0%, 70%);
}


main{
    padding: 0px 16px;
    text-align: center;
    width: 640px;
}

main h1{
     color: white;
     font-size: 38px;
     width: 608px;
     line-height: 46.1px;
     font-family: 'Roboto';
     font-weight: bold;
     margin: 0px 0px 8px 0px;
}


main p{
    margin-top: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

main p a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    background-color: #fff;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 1.5px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4.8px;
}